<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Navigation</h3>
    </div>
    <div class="panel-body">
        <p class="bs-component">
            <a href="#/user/home" class="btn btn-primary btn-sm">Home</a>
        </p>
        <p class="bs-component">
            <a href="#/user/ads" class="btn btn-primary btn-sm">My Ads</a>
        </p>
        <p class="bs-component">
            <a href="#/user/ads/publish" class="btn btn-primary btn-sm">Publish New Ad</a>
        </p>
        <p class="bs-component">
            <a href="#/user/profile" class="btn btn-primary btn-sm">Edit Profile</a>
        </p>

    </div>
</div>