<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SoftUniApp</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <title> {{page.title}} </title>
</head>
<body ng-app="softUniApp">
<div class="navbar">
    <div class="navbar-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <p class="navbar-text"><a href="#/" class="navbar-brand">Home</a></p>

                </div>
                <div class="col-lg-5">
                    <h3> {{page.title}} </h3>
                </div>
                <div class="col-lg-3" ng-controller="LoginController">
                    <div class="navbar-text navbar-right" data-ng-if="userData.isLoggedUser()">
                        <p class="navbar-text"> <strong>{{userData.getLoggedUser().username}} </strong></p>
                        <a href="" data-ng-click="logout()" class="navbar-brand">Logout</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div ng-view class="container">

</div>
<footer class="panel-footer">
    <div  class="text-center">
        <p>&copy; 2014 by Software Foundation, No Right Reserved</p>
    </div>
</footer>
<script type="text/javascript" src="lib/angular/angular.js"></script>
<script type="text/javascript" src="lib/angular/angular-route.js"></script>
<script type="text/javascript" src="lib/angular/angular-resource.js"></script>
<script type="text/javascript" src="lib/angular/angular-cookies.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/AdsController.js"></script>
<script type="text/javascript" src="js/controllers/LoginController.js"></script>
<script type="text/javascript" src="js/controllers/TownController.js"></script>
<script type="text/javascript" src="js/controllers/CategoryController.js"></script>
<script type="text/javascript" src="js/controllers/EditUserProfileController.js"></script>
<script type="text/javascript" src="js/controllers/PublishAdController.js"></script>
<script type="text/javascript" src="js/controllers/UserAdsController.js"></script>
<script type="text/javascript" src="js/controllers/UserDeleteAdController.js"></script>
<script type="text/javascript" src="js/controllers/UserEditAdController.js"></script>
<script type="text/javascript" src="js/services/adsData.js"></script>
<script type="text/javascript" src="js/services/authData.js"></script>
<script type="text/javascript" src="js/services/userData.js"></script>
<script type="text/javascript" src="js/filters/image-filter.js"></script>
<script type="text/javascript" src="js/services/messaging.js"></script>
<script type="text/javascript" src="lib/jquery-2.1.1.js"></script>
<script type="text/javascript" src="lib/jquery.noty.packaged.min.js"></script>


</body>
</html>