<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="well bs-component">
    <form class="form-horizontal" name="registrationForm" role="registration">
        <fieldset>
            <legend style="text-align: center">User Registration</legend>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label for="username" class="control-label">Username:</label>
                            <div class="form-input username">
                                <input type="text" class="form-control" id="username" placeholder="Username">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label for="password" class="control-label">Password:</label>
                            <div class="form-input password">
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label for="confirmPassword" class="control-label">Confirm Password:</label>
                            <div class="form-input confirmPassword">
                                <input type="password" class="form-control" id="confirmPassword" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label for="fullName" class="control-label">Name:</label>
                            <div class="form-input name">
                                <input type="text" class="form-control" id="fullName" placeholder="Enter name">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label for="userEmail" class="control-label">Email:</label>
                            <div class="form-input userEmail">
                                <input type="password" class="form-control" id="userEmail" placeholder="E-mail">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label for="userPhone" class="control-label">Phone:</label>
                            <div class="form-input username">
                                <input type="password" class="form-control" id="userPhone" placeholder="+359 999 999">
                            </div>
                        </div>
                        <div class="col-md-5" data-ng-controller="TownController">
                            <label class="control-label">Towns:</label>
                            <select class="form-control" name="townId">
                                <option value="{{town.id}}" data-ng-repeat="town in towns"> {{town.name}} </option>

                            </select>
                        </div>

                    </div>

            <div class="form-group">
                <div class="col-md-5 col-lg-offset-1">
                    <button type="submit" class="btn btn-primary" data-ng-click="" ng-class="">Register</button>
                </div>
                <div class="col-md-5 col-lg-offset-1">
                    <a href="#/login" class="btn btn-default">Login here</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>